.hero-container {
	display: flex;
    margin: auto;
    justify-content: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hero {
    padding-bottom: 10px;  /**/
    max-width: 100%;
}

.detail-container {
    margin: auto;
    max-width: 100%;
}

.title-project {
    font-family: var(--font-primary), var(--font-primary-style);
    font-weight: var(--font-primary-weight);
    padding-top: 1.3rem;
    padding-bottom: 0.45rem;
    /* font-size: 2.875rem; */
    font-size: clamp(var(--font-size) * 1.62, calc(var(--projects-thumb-width) / 11.16), 1000vw);
    font-size: 2.875rem;
}

.pd-separator {
    border-bottom: 1px solid var(--border-color);
}

.pd-tab-buttons {
    display: flex;
    justify-content: right;
}

.pd-tab {
    border-style: solid;
    padding: 1px;
    text-align: center;
    width: 60px;
    color: var(--border-color);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    border-width: 1px;
    border-color: var(--border-color);
    border-bottom: none;
    background-color: var(--bg-color);
    font-family: var(--font-secondary);
    font-size: var(--font-size);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.pd-tab:not(:last-child){
    border-right: none;
}

.pd-active-tab  {
    color: var(--color-highlight);
}

.pd-info{
   margin-top: 20px;
}

.pd-tab-content {
    flex-grow : 1;
}

.pd-content {
    padding-top: 1.8rem;
    width: 100%;
    height: 100%;
    display: none;
}

.pd-content p {
    width: 100%;
    height: 100%;
}

.pd-active-content {
    display: block;
}

.pd-file-dl {
    font-weight: 700;
    /* color: var(--color-highlight); */
}

.pd-file-desc{
    margin: 1.5rem;
    margin-top: 1rem;
    white-space: pre;
}

@media screen and (max-width: 560px) {
    .title-project {
        font-size: 8vw;
    }
}

@media screen and (max-width: 450px) {
    .title-project {
        font-size: 36px;
    }
}
