.hero-container {
	display: flex;
    margin: auto;
    justify-content: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hero {
    padding-bottom: 10px;
    max-width: 100%;
}

.detail-container {
    margin: auto;
    max-width: 100%;
}

.title-project {
    font-family: var(--font-primary), var(--font-primary-style);
    font-weight: var(--font-primary-weight);
    padding-top: 20px;
    padding-bottom: 5px;
    /* font-size: 2.875rem; */
    font-size: clamp(var(--font-size) * 1.62, calc(var(--projects-thumb-width) / 11.16), 1000vw);
    font-size: 2.875rem;
}

.separator {
    border-bottom: 1px solid var(--border-color);
}

.tab-buttons {
    display: flex;
    justify-content: right;
}

.tab {
    border-style: solid;
    padding: 1px;
    text-align: center;
    width: 60px;
    color: var(--border-color);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    border-width: 1px;
    border-color: var(--border-color);
    border-bottom: none;
    background-color: var(--bg-color);
    font-family: var(--font-secondary);
    font-size: var(--font-size);
}

.tab:not(:last-child){
    border-right: none;
}

.active-tab  {
    color: var(--color-highlight);
}

.info{
   margin-top: 20px;
}

.tab-content {
    flex-grow : 1;
}

.content {
    width: 100%;
    height: 100%;
    display: none;
}

.content p {
    padding-top: 1.25rem;
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

@media screen and (max-width: 560px) {
    .title-project {
        font-size: 8vw;
    }
}

@media screen and (max-width: 450px) {
    .title-project {
        font-size: 36px;
    }
}