.thumb_container {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	margin: 0px;
	cursor: pointer;
	background: var(--bg-color);
	justify-content: center;
	position: relative;
	flex-shrink: 1;
	flex-grow: 1;
	width: 50%;
	overflow: hidden;
}

.overlay-full {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: var(--speed-med) ease;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	position: absolute;
}

.thumb_container:hover .overlay-full {
	opacity: 1;
}

.thumb_img {
	margin: auto;
	opacity: 1;
	width: 100%;
	flex-shrink: 1;
}

.thumb_text {
	display: flex;
	color: white;
	font-weight: 400;
	opacity: 1;
	position: relative;
	text-align: center;
	align-content: center;
	align-items: center;
	margin: auto;
	width: 75%;
	top: 50%;
	transform: translateY(-50%);
}

.thumb_text p {
	color: white;
	font-size: 3.5vw;
	line-height: 125%;
	overflow: hidden;
	margin: auto;
	color: white;
}

@media (min-width: 1080px) {
	.thumb_text p {
		font-size: 240%;
	}
}

@media (max-width: 560px) {
	.thumb_container{
		width: 100%;
		max-width: 100%;
	}
	.thumb_text p {
		font-size: 240%;
	}
}