:root {
    --pd-max-detail-pad: 50px;
    --pd-max-hero-width: 1280px;
    --pd-max-hero-height: 720px;
    --pd-detail-pad: clamp(0px, calc((var(--pd-max-hero-width) - 100vw + var(--pd-max-detail-pad) * 4) / 4), var(--pd-max-detail-pad));
}

.pd-hero {
    box-sizing: content-box;
    max-width: var(--pd-max-hero-width);
    max-height: var(--pd-max-hero-height);
    width: 100vw;
    height: 56.25vw;
    margin-top: calc(var(--pd-max-detail-pad) - var(--pd-detail-pad));
}

.pd-hero-wrapper {
	display: flex;
    margin: auto;
    justify-content: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.pd-detail-container {
    margin: auto;
    max-width: var(--pd-max-hero-width);
    width: 100vw;
    padding-left: calc(var(--pd-detail-pad) / 2);
    padding-right: calc(var(--pd-detail-pad) / 2);
}

.pd-title-project {
    font-family: var(--font-primary), var(--font-primary-style);
    font-weight: var(--font-primary-weight);
    line-height: 115%;
    padding-top: clamp(
		calc(var(--page-max-width) / 138),
		calc(var(--page-width) / 46),
		calc(var(--page-max-width) / 46)
    );
    padding-bottom: clamp(
		calc(var(--page-max-width) / 800),
		calc(var(--page-width) / 200),
		calc(var(--page-max-width) / 200)
    );
    font-size: calc(clamp(2.2rem, 5.25vw, 4.25rem));
}

.pd-tab-buttons {
    display: flex;
    justify-content: right;
}
.pd-separator-line {
    height: 1.65rem;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.pd-tab {
    border-style: solid;
    text-align: center;
    width: fit-content;
    padding: 0.1rem 0.75rem 0rem 0.75rem;
    color: var(--border-color);
    cursor: pointer;
    font-family: var(--font-secondary);
    font-size: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.pd-tab:last-child {
    border-radius: 0 3px 3px 0 ;
}

.pd-tab:not(:last-child){
    border-right: none;
    border-radius: 3px 0 0 0 ;
}

.pd-active-tab  {
    color: var(--color-highlight);
}

.pd-tab-content {
    flex-grow : 1;
}

.pd-content {
    padding-top: 1.8rem;
    width: 100%;
    height: 100%;
    display: none;
}

.pd-content p {
    width: 100%;
    height: 100%;
}

.pd-active-content {
    display: block;
}

.pd-file-dl a {
    font-family: var(--font-secondary-bold), var(--font-secondary-style);
    font-weight: var(--font-secondary-weight);
}

.pd-file-desc{
    margin: 1.5rem;
    white-space: pre;
}
