:root {
	--thumblink-overlay-text-size: clamp(
		calc(var(--font-size) * 1.25),
		3.25vw,
		calc(var(--font-size) * 2.62));
}

.thumb-overlay-text {
	font-family: var(--font-secondary-light), var(--font-secondary-style);
	font-weight: var(--font-secondary-weight);
	transition: all 0.25s ease;
	transition-timing-function: var(--cubic);
	opacity: 100%;
	color: white;
	filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.05));
	position: absolute;
	bottom: 0px;
	padding-left: calc(var(--thumblink-overlay-text-size) * 0.55);
	padding-right: calc(var(--thumblink-overlay-text-size) * 0.55);
	font-size: clamp(
		1.25rem,
		var(--thumblink-overlay-text-size),
		var(--thumblink-overlay-text-size)
	);
	line-height: calc(var(--thumblink-overlay-text-size));
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.thumb-overlay {
	z-index: 2;
	transition: all 0.3s ease;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	/* background-color: rgba(0,0,0,0.1); */
	background-image: linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0),
		rgba(0,0,0,0),
		rgba(0,0,0,0.075),
		rgba(0,0,0,0.2)
	);
}

.thumb-overlay:hover {
	opacity: 100%;
}

.thumb-container {
	/* animation: 0.4s ease-out 0s 1 slideInFromBottom; */
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	position: relative;
	cursor: pointer;
	/* flex-shrink: 1;
	flex-grow: 1; */
	overflow: hidden;
	transition-property: all;
	transition-duration: var(--speed-fast);
	transition-timing-function: var(--cubic);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	&:hover .thumb_overlay{
		opacity: 100%;
	}

	&:hover .thumb-overlay-text {
		padding-bottom: calc(var(--thumblink-overlay-text-size) * 0.5);
	}
	
	&:hover .thumb-img {
		scale: 1.05;
	}
}

.thumb-img {
	transition: all 0.5s ease;
	transition-timing-function: var(--cubic);
	margin: auto;
	width: 100%;
	height: 100%;
	flex-shrink: 1;
	scale: 1;
}

@media (max-width: 660px) {  /* match Projects.css media queries */
	.thumb-overlay-text {
		font-size: clamp(
			calc(var(--font-size) * 1.25),
			7.5vw,
			calc(var(--font-size) * 2.62)
		);
		line-height: clamp(
			calc(var(--font-size) * 1.5),
			9vw,
			calc(var(--font-size) * 3)
		);	
	}
}
