.footerNav {
    margin-top: auto;
    width: 100%;
	background-color: var(--bg-color);
}

.footerList {
    height: 100%;
	display: flex;
	flex-direction: row;
    justify-content: right;
	margin-left: calc(var(--page-border-width) - 0.75rem);
	margin-right: calc(var(--page-border-width) - 0.75rem);
}

.footerItem {
    fill: hsl(0, 0%, 74%);
	display: flex;
	align-items: center;
	margin: 0.25rem;
	padding: 0.5rem;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	color: var(--font-color-headline);
	cursor: pointer;
	font-weight: 600;
	font-size: var(--font-size);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	transition-property: all;
	transition-duration: var(--speed-fast);
}

.footerList:last-child {
	/* margin-right: var(--page-border-width); */
}

.footerItem:hover {
	fill: var(--color-highlight);
}

.FooterLogo {
	fill: blue;
    width: 1.25rem;
}
