@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');

.wrapper_hello {
    margin: auto;
    align-content: center;
    width: 480px;
    max-width: 80vw;
    padding: 15px 0 0 0;
    border-bottom: 1px solid grey;
}

.hello {
	font-family: 'Crete Round', serif;
	font-weight: 400;
	margin: auto;
    font-size: 46px;
    color: white;
	text-align: left;
}