@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');

/* .wrapper_hello {
    margin: auto;
    align-content: center;
    width: 480px;
    max-width: 80vw;
    padding: 15px 0 0 0;
    border-bottom: 1px solid var(--border-color);
}

.hello {
    font-family: var(--font-primary), var(--font-primary-style);
    font-weight: var(--font-primary-weight);
	margin: auto;
    font-size: 46px;
    color: var(--font-color-headline);
	text-align: left;
} */

:root {
    --about-section-width: clamp(269px, 87vw, 45rem);
}

.about_pad {
	padding-top: clamp(calc(1rem), calc(var(--about-section-width) / 15), 1000vw);
}

.wrapper_hello {
	background-color: var(--bg-color);
	z-index: 0;
    margin: auto;
	overflow: hidden;
	text-align: left;
    width: var(--about-section-width);
}

.wrapper_hello p {
    padding-top: 1.5rem;
}

.about_slide-up {
    animation: 0.3s ease-out 0s 1 slideInFromBottom;
}

.hello {
	/* animation: 0.4s ease-out 0s 1 slideInFromRight; */
    font-family: var(--font-primary), var(--font-primary-style);
    font-weight: var(--font-primary-weight);
	font-size: clamp(var(--font-size) * 1.62, calc(var(--about-section-width) / 11.16), 1000vw);
	padding-bottom: clamp(0px, calc(var(--about-section-width) / 100), 1000vw);

    /* padding: 1vw 0 3vw 0; */
    color: var(--font-color-headline);
	/* top: 40px; */
	/* transform: translateY(50%); */
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

    animation: 0.5s ease-out 0s 1 bounceInFromBottom;
}