@keyframes starRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes delayedFadeOut {
    0% {
        opacity: 1;
    }
    60% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}

.reel-wrapper {
    --reel-width: clamp(
        0px,
        calc(100vw - var(--page-border-width) * 2),
        var(--page-max-width)
    );
    --reel-height: calc(var(--reel-width) / 16 * 9);
    width: var(--reel-width);
    height: var(--reel-height);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center;
}

.reel {
    position: relative;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.reel-border {
    position: absolute;
    width: var(--reel-width);
    height: calc(var(--reel-width) / 16 * 9);
    display: flex;
    justify-items: center;
    /* position: absolute; */
    overflow: hidden;
}

.reel-star {
    opacity: 0;
    animation: starRotation 50s infinite linear, delayedFadeOut 2.5s;
    margin: auto;
    fill: rgba(0,0,0,0);
    stroke: var(--font-color-headline);
    stroke-width: 0.025rem;
    overflow: hidden;
    width: calc(var(--reel-height) - 0.05rem);
    height: calc(var(--reel-height) - 0.05rem);
}