.nav-header {
	z-index: 5000;
	top: 0;
	position: sticky;
	width: 100%;
	height: var(--navbar-height);
	/* background-color: var(--primary-color); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	background-color: var(--bg-color);
	/* border-bottom: 1px solid; */
	/* border-color: var(--border-color); */
 }

.navbar-list {
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-right: calc(var(--page-border-width) - var(--navbar-item-padding-x));
}

.navbar-item {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 var(--navbar-item-padding-x);
	color: var(--font-color-headline);
	cursor: pointer;
	transition-property: all;
	transition-duration: var(--speed-fast);
}

.navbar-item:hover {
	color: var(--color-highlight);
}

.navbar-item a {
	font-weight: 400;
	color: inherit;
	font-size: var(--font-size);
}

.navbar-item:last-child {
	/* margin-right: var(--page-border-width); */
}

.logo {
	fill: #222222;  /* #HC var(--font-color-headline)) */
	cursor: pointer;
	width: 1.9rem;
	min-width: 1.9rem;
	margin-left: calc(var(--page-border-width));
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#logo path {
	fill: red;
}

.navbar-underline-inactive {
	transition: border 0.15s ease;
	border-bottom: solid 1px rgba(0,0,0,0);
}

.navbar-underline {
	transition: border 0.2s ease;
	border-bottom: solid 1px rgba(0,0,0,1);
}

@media only screen and (max-width: 320px) {
	.navbar-item a {
		font-size: clamp(0.6rem, 5vw,var(--font-size));
	}
}