.footer-nav {
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: auto;
    width: 100%;
    height: var(--footer-height);
    /* background-color: rgba(255, 0, 0, 0.25); */
}

.footer-list {
    height: 100%;
	display: flex;
	flex-direction: row;
    justify-content: right;
	margin-right: calc(var(--page-border-width) - var(--navbar-item-padding-x));
}

.footer-item {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 var(--navbar-item-padding-x);
	color: var(--font-color-headline);
	cursor: pointer;
	transition-property: all;
	transition-duration: var(--speed-fast);

	font-weight: 600;
	color: inherit;
	font-size: var(--font-size);
}
